@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-color: #FAEBD7; 
        color: #333; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        line-height: 1.6; 
        margin: 0; 
        padding: 0; 
    }

    .text-center {
        text-align: center;
        margin-top: 100px; 
    }

    .display-4 {
        font-size: 2.5em; 
        font-weight: bold; 
        color: #F08080; 
        margin-bottom: 20px; 
    }
</style>

<div class="text-center">
    <h1 class=" display-4">Platinum GYM</h1>
    <h2 class="display-4">Bine ați venit la "Platinum Gym" – locul în care transformăm ambițiile tale în realitate și unde sănătatea devine un mod de viață!</h2>
</div>

